@page "/"
@rendermode InteractiveServer
@inject ITyping Typing
@inject IStatisticsInfo statisticsInfo

@{
    // AnimatedText = Typing.Text;
}
<PageTitle>Тренажёр печати</PageTitle>

<style>

    .correct {
        color: #00ff00; /* Зелёный */
    }

    .incorrect {
        color: #ff5555; /* Красный */
    }
</style>

<div id="container">
    <div id="title">Тренажёр печати</div>

    <!-- Текст для набора -->
    <div id="textToType">
        @((MarkupString)AnimatedText)
    </div>

    <!-- Поле ввода -->
    <div id="inputField" class="typing-area" spellcheck="false" autocomplete="off" autocorrect="off" tabindex="0" @onkeydown="OnInput">
        @((MarkupString)currentText)
    </div>

    <!-- Статистика -->
    <div id="stats">
        <div>⏱ Время:   <span id="time">@Typing.Timer.Time.Seconds</span> сек</div>
        <div>⚡ Скорость: <span id="speed">@statisticsInfo.CharacterPerMinute</span> зн/мин</div>
        <div>⚡ Точность: <span id="accuracy">@($"{statisticsInfo.Accuracy * 100:F0}")</span> %</div>
    </div>
</div>

@code {

    private string AnimatedText = "";
    private string currentText = "";
    private System.Timers.Timer timer;
    private int seconds=0;
    protected override void OnInitialized()
    {
      
        AnimatedText = Typing.Text;
        timer = new System.Timers.Timer(100);
        timer.Elapsed += (sender, e) =>
        {
            InvokeAsync(() =>
            {
               
                StateHasChanged();
            });
        };
        timer.AutoReset = true;
        timer.Start();

    }
    private void OnInput(KeyboardEventArgs e)
    {

        if (string.IsNullOrEmpty(e.Key) || e.Key.Length != 1)
            return;

        int oldCursor = Typing.Cursor+1;
        Typing.InputChar(e.Key[0]);
        currentText += e.Key[0];


        AnimateText(oldCursor - Typing.Cursor);

    }
    void AnimateText(int lengthOfRedPart)
    {
        AnimatedText
            = $"<span class=\"correct\">{Typing.Text.Substring(0, Typing.Cursor)}</span>|<span class = \"incorrect\">{Typing.Text.Substring(Typing.Cursor, lengthOfRedPart)}</span>{Typing.Text.Substring(Typing.Cursor + lengthOfRedPart)}";
    }

}
@* <span class="correct">${char}</span>` *@